In [2]:
import numpy as np
import pandas as pd

dataframe                
    类似一维数组的对象由values与indexzc,columns           
        *values：二维数据（ndarray类型）                  
        *index：相关数据行索引标签            
        *columns：相关数据列索引标签                      
            或在创建dataframe时设置                 
            pd.Dataframe(data=data,index=,colunms=)

一，创建

In [3]:
#字典创建
d = {
    'name':['python','numpy','pandas'],#以列的形式表现一类数据
    'age':['43','12','34']
}

df = pd.DataFrame(d)
df

     name age
0  python  43
1   numpy  12
2  pandas  34

In [12]:
#利用二维数组创建
df = pd.DataFrame(
    data=np.random.randint(0,10,size=(3,6)),
    index=['a','b','c'],
    columns=['d','e','f','g','h','i']
)
df

   d  e  f  g  h  i
a  8  9  4  5  6  1
b  2  8  4  6  7  2
c  8  9  5  1  0  0

二，属性

In [6]:
#dataframe中的数据
df.values

array([['python', '43'],
       ['numpy', '12'],
       ['pandas', '34']], dtype=object)

In [8]:
#索引
df.index
df.columns

Index(['name', 'age'], dtype='object')

In [9]:
#x形状
df.shape

(3, 2)

三，方法

In [12]:
#head，tail
df.head()#默认为前5个
df.head(1)#修改为前1条
df.tail()#默认为后5个
df.tail(1)#修改为后1条

     name age
2  pandas  34

In [4]:
#设置index
df.index = list('aef')
#设置columns
df.columns = list('tr')
df

        t   r
a  python  43
e   numpy  12
f  pandas  34

四，聚合操作

In [5]:
data = np.random.randint(60,101,size=(6,6))

index = [
    ['一班','一班','一班','二班','二班','二班'],
    ['小明','小红','李华','张三','李四','王五']
]

columns = [
    ['期中','期中','期中','期末','期末','期末'],
    ['语文','数学','英语','语文','数学','英语']
]

df = pd.DataFrame(data=data, index=index, columns=columns)
df2 = df.iloc[0:3,0:3]
df2

       期中
       语文  数学  英语
一班 小明  96  61  86
   小红  64  86  84
   李华  96  90  96

In [7]:
#sum
#全部值
df2.values.sum()
#axis默认为0每一列的和
df2.sum()
df2.sum(axis=1)

#参照series
#其他一样

一班  小明    243
    小红    234
    李华    282
dtype: int64