In [1]:
import numpy as np
import pandas as pd

In [4]:
df = pd.DataFrame(
    data=np.random.randint(60,101,size=(3,6)),
    index=['小明','小刘','李华'],
    columns=['语文','数学','英语','物理','化学','生物']
)

df

    语文  数学  英语  物理  化学  生物
小明  93  60  90  74  98  92
小刘  82  88  78  62  73  69
李华  86  79  75  76  71  81

一，索引       
    默认列索引

In [23]:
#dataframe
#列索引
#可以'.'+'name'
df.语文
df['语文']

#多列索引
df[['语文','化学']]

    语文  化学
小明  93  98
小刘  82  73
李华  86  71

In [17]:
#行索引
#不能用df.小明
#     df['小明']

df.loc['小明']
df.iloc[0]

#多行
df.loc[['小明','李华']]
df.iloc[[0,2]]

    语文  数学  英语  物理  化学  生物
小明  93  60  90  74  98  92
李华  86  79  75  76  71  81

In [22]:
#元素索引
#先行
df['语文']['小明']
df.语文.小明

#先列
df.loc['小明']['语文']
df.iloc[0][0]#或df.iloc[0,0]

C:\Users\freedom\AppData\Local\Temp\ipykernel_13556\953890905.py:8: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df.iloc[0][0]#或df.iloc[0,0]

np.int32(93)

三，切片       
    默认行索引

In [24]:
df

    语文  数学  英语  物理  化学  生物
小明  93  60  90  74  98  92
小刘  82  88  78  62  73  69
李华  86  79  75  76  71  81

In [29]:
#行切片
df[0:2]#左闭右开
df['小明':'李华']#左闭右闭

df.iloc[0:2]#左闭右开
df.loc['小明':'李华']#左闭右闭

    语文  数学  英语  物理  化学  生物
小明  93  60  90  74  98  92
小刘  82  88  78  62  73  69
李华  86  79  75  76  71  81

In [33]:
#列切片
#先行切片再列切片
df.iloc[:,1:4]#左闭右开
df.loc[:,'数学':'化学']#左闭右闭

    数学  英语  物理  化学
小明  60  90  74  98
小刘  88  78  62  73
李华  79  75  76  71