In [1]:
import numpy as np
import pandas as pd

In [3]:
def _df(index, columns):
    data = np.random.randint(0,10,size=(len(index),len(columns)))
    df = pd.DataFrame(data=data, index=index, columns=columns)
    return df

## 检测

In [5]:
df = _df([1,2,3],list('abcd'))
df.iloc[1] = df.iloc[0]
df

   a  b  c  d
1  5  7  5  8
2  5  7  5  8
3  2  7  3  6

In [7]:
df.duplicated()
#Tru表示与前一行重复

1    False
2     True
3    False
dtype: bool

In [15]:
#keep
df.duplicated(keep='first')#保留第一行默认
df.duplicated(keep='last')#保留最后一行
df.duplicated(keep=False)#标记重复行不保留

1    False
2    False
3    False
dtype: bool

In [14]:
#subset子集
#对指定列进行检查
df.duplicated(subset=['a'])

1    False
2     True
3    False
dtype: bool

## 删除

In [16]:
df.drop_duplicates(subset=['a'])

   a  b  c  d
1  5  6  9  1
3  2  7  3  6