In [1]:
import numpy as np
import pandas as pd

## 一，replace

In [3]:
index = ['bob','lisa','jen','lihua']
columns = ['python','java','ruby','UI']
data = np.random.randint(60,100,size=(4,4))
df = pd.DataFrame(
    data=data,
    index=index,
    columns=columns
)
df

       python  java  ruby  UI
bob        84    60    66  64
lisa       68    99    65  66
jen        61    92    83  98
lihua      85    79    91  60

In [7]:
#对特定的values替换
df.replace({60:0})

       python  java  ruby  UI
bob        84     0    66  64
lisa       68    99    65  66
jen        61    92    83  98
lihua      85    79    91   0

## 二，map()

In [9]:
df2 = df.copy()
df2

       python  java  ruby  UI
bob        84    60    66  64
lisa       68    99    65  66
jen        61    92    83  98
lihua      85    79    91  60

In [16]:
#一般用在series结构，不用与dataframe
#在一列中未被map的数据变成nan
df2.iloc[:,0].map({84:100,68:68,61:61,85:85})

#把python这列*10
df2.iloc[:,0].map(lambda x:x*10)

#新增一列ios
df2.loc[:,'ios'] = df2.iloc[:,0].map(lambda x:x*10)
df2

       python  java  ruby  UI  ios
bob        84    60    66  64  840
lisa       68    99    65  66  680
jen        61    92    83  98  610
lihua      85    79    91  60  850

In [18]:
#新增一列java及格
df2.loc[:,'java是否及格'] = df2.iloc[:,1].map(lambda x:'及格' if x>=60 else '不及格')
df2

       python  java  ruby  UI  ios java是否及格
bob        84    60    66  64  840       及格
lisa       68    99    65  66  680       及格
jen        61    92    83  98  610       及格
lihua      85    79    91  60  850       及格

In [22]:
#在map用普通def
def fn(n):
    if n<=65:
        return 'bad'
    elif n<=90:
        return 'just so so'
    return 'good'


df2.loc[:,'UI等级'] = df2.iloc[:,3].map(fn)
df2

       python  java  ruby  UI  ios java是否及格        UI等级
bob        84    60    66  64  840       及格         bad
lisa       68    99    65  66  680       及格  just so so
jen        61    92    83  98  610       及格        good
lihua      85    79    91  60  850       及格         bad

## 三,rename()

In [24]:
df3 = df.copy()
df3

       python  java  ruby  UI
bob        84    60    66  64
lisa       68    99    65  66
jen        61    92    83  98
lihua      85    79    91  60

In [32]:
#默认修改index
df3.rename({'bob':'alix'})
df3.rename({'python':'ios'},axis=1)

df3.rename(index={'bob':'alix'})
df3.rename(columns={'python':'ios'})

       ios  java  ruby  UI
bob     84    60    66  64
lisa    68    99    65  66
jen     61    92    83  98
lihua   85    79    91  60

## 四,reset_index()

In [33]:
df4 = df.copy()
df4

       python  java  ruby  UI
bob        84    60    66  64
lisa       68    99    65  66
jen        61    92    83  98
lihua      85    79    91  60

In [35]:
#重置index
df4.reset_index()

   index  python  java  ruby  UI
0    bob      84    60    66  64
1   lisa      68    99    65  66
2    jen      61    92    83  98
3  lihua      85    79    91  60

## 五,apply()

In [37]:
df5 = df.copy()
df5

       python  java  ruby  UI
bob        84    60    66  64
lisa       68    99    65  66
jen        61    92    83  98
lihua      85    79    91  60

In [43]:
#用与series与map相似
df5.iloc[:,0].apply(lambda x :True if x>70 else False )

bob       True
lisa     False
jen      False
lihua     True
Name: python, dtype: bool

In [44]:
#用与dataframe
df5.apply(lambda x :x.mean())#axis默认为0每一列的平均值
df5.apply(lambda x :x.mean(),axis=1)

bob      68.50
lisa     74.50
jen      83.50
lihua    78.75
dtype: float64

In [46]:
#x为每一个元素
df5.applymap(lambda x:x+10)

C:\Users\freedom\AppData\Local\Temp\ipykernel_11272\3070909829.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df5.applymap(lambda x:x+10)

       python  java  ruby   UI
bob        94    70    76   74
lisa       78   109    75   76
jen        71   102    93  108
lihua      95    89   101   70

## 六,transform（）

In [47]:
df6 = df.copy()
df6

       python  java  ruby  UI
bob        84    60    66  64
lisa       68    99    65  66
jen        61    92    83  98
lihua      85    79    91  60

In [55]:
#用与series
#可用与多次计算
df6.iloc[:,0].transform([np.sqrt,np.exp])

#用与dataframe
def fun(x):
    if x>70:
        return x*1
    return x*(-1)    

df6.transform(fun)

ValueError: Transform function failed