In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame(
    data=np.random.randint(0,100,size=(5,3))
)

df

    0   1   2
0  58  51  62
1  20  61  50
2  87  35  25
3  44  36  45
4  91   1  83

In [6]:
#count
#统计每一列的非空元素个数
df.count()
#axis

0    5
1    5
2    5
dtype: int64

In [7]:
#默认为每一行
# max
# min
# mean
# median
# var:方差
# std：标准差

In [13]:
#value_counts()
#统计元素出现的次数
df.iloc[:,0].value_counts()

0
58    1
20    1
87    1
44    1
91    1
Name: count, dtype: int64

In [15]:
#cumsum()
#累加
#第几位的值是前面值的和
df.cumsum()

     0    1    2
0   58   51   62
1   78  112  112
2  165  147  137
3  209  183  182
4  300  184  265

In [17]:
#cumprod()
#累乘
#第几位的值是前面值的积
df.cumprod()

           0        1          2
0         58       51         62
1       1160     3111       3100
2     100920   108885      77500
3    4440480  3919860    3487500
4  404083680  3919860  289462500

 协方差 （CoV）                    
长度为 n 的数据 x 值与数据 y 之差与每个值与其平均值之差之和除以 n-1     
Cov（x，y）>0呈正相关     
Cov（x，y）<0呈负相关     
Cov（x，y）>0 不相关

In [19]:
df[0].cov(df[1])#第0列与第1列的协方差

np.float64(-535.5)

相关系数r       
r = cov(x,y)/std(x)*std(y)        
-1<=r<=1         
Cov（x，y）>0呈正相关     
Cov（x，y）<0呈负相关     
Cov（x，y）>0 不相关

In [20]:
df[0].corr(df[1])#第0列与第1列的相关系数

np.float64(-0.7896353638268756)

In [4]:
#默认为列的非空元素的数量
df.count()
#行的非空元素的数量
df.count(axis=1)

0    3
1    3
2    3
3    3
4    3
dtype: int64

默认为列 (每一行)               
max：                
min:                    
median:                     
sum:                   
mean:                      
var: 方差                     
std: 标准差

In [ ]:
#