In [1]:
import numpy as np
import pandas as pd

### groupby

In [4]:
df = pd.DataFrame(
    {
        'color':['green','red','blue','yellow','pink','yellow','green'],
        'price':[23,34,12,54,57,87,54]
    }
)
df

    color  price
0   green     23
1     red     34
2    blue     12
3  yellow     54
4    pink     57
5  yellow     87
6   green     54

In [8]:
#by按什么分组
df.groupby(by='color')

{'blue': [2], 'green': [0, 6], 'pink': [4], 'red': [1], 'yellow': [3, 5]}

In [11]:
#分组+聚合
df.groupby(by='color').sum()

        price
color
blue       12
green      77
pink       57
red        34
yellow    141

### groups

In [9]:
df.groupby(by='color').groups

{'blue': [2], 'green': [0, 6], 'pink': [4], 'red': [1], 'yellow': [3, 5]}